@font-face {
  font-family:sans-bold ;
  src: url(assets/ostrich-sans-rounded.woff);
}
@font-face {
  font-family:sans-light ;
  src: url(assets/ostrich-sans-light.woff);
}
body{
	font-family: sans-light;
}
nav li{
  padding-left:30px;

}
*:cover{
  color:#ea8953;
}
nav a:hover{
  color:#ea8953;
}
nav a{
	color:black;
}
nav{
  z-index: 1;
  margin-top: -10px;
	font-size: 50px;
	float: right;
}
div.content-home{
  padding: 3%;
  height: 100%;
}
body{
}
body, html {
    height: 100%;
}
.profile{

  position: absolute;
  z-index: 2;
}
.contact-me ol li{
  border:1px solid #414141;
  padding-top: 10px;
  text-align: center;
  height: 55px;
  width: 55px;
 border-radius: 100px;  
}

i.fab{
  font-size: 100px;
}
.work{
  font-family: sans-bold;
  margin-top: -60px;
  font-size: 50px;
}
.hire a:hover{

  background-image: linear-gradient(to right, #FBDBA8 , #EA8953);
  background-color: #ea8953;
  border-color: #ea8953;
  color: white;
}
.hire a{
  border-color: #ea8953;
  color: #ea8953;
  width: 200px;
  border-radius: 100px;
  font-size: 40px;
}
@media (min-width: 768px) {
   nav.navbar{
    display: none;
  }
  .image-bg {
    z-index: -1;
    position: absolute;
    display: block;
    width: 60%;
    height:70%;
    right:0;
    top:20%;
    background: url(assets/bg-char.svg);
    background-size: 100% 100%;
  }
  .name{
  z-index: -1;
  font-size: 150px;
}

}
.content-skills .title{
  font-family: sans-bold;
  margin-bottom: -10px;
  font-size: 50px;
}
#project {

  display: block;
  top:165%;
  height: 100%;
  position: absolute;
}
.content-skills .row{
  position:absolute;
  bottom: 3%;
  width: 97%;
  margin-left:-20px;
}
*::selection{
  color:white;
  background-color: black;
}
.content-skills {
  padding-bottom: 3%;
  font-family: sans-bold;
  font-size: 25px;
  z-index: -1;
  padding-right: 3%;
  padding-left : 3%;
  position: absolute;
  display: block;
  width: 100%;
  height:100%;
  right:0;
  top:65%;
  background: url(assets/bg-skills.svg);
  background-size: 100% 106%;
}
.content-project {
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: sans-bold;
  font-size: 25px;
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height:100%;

}
.content-project label{
  padding-bottom: 3%;
  font-family: sans-bold;
  margin-bottom: -10px;
  font-size: 50px;
}

.carousel-item .card-body{
  background-color: rgba(0,0,0,0.6);

  /*border:1px solid black;*/
}
.carousel-item .card{
  background-size: cover;
  height: 500px;

}
.carousel-item .card-text{
  font-size: 20px;
  font-family: calibri;
}
.carousel-item .card-title{
  font-size: 35px;
}
.carousel-item{
  font-family: sans-bold;
  color: white;
}
.c-gradient:hover{
  background-color: white;
  color: black;

}
.c-gradient{
  border-color: #EA8953;
  background-color: transparent;
}
.carousel-control-next, .carousel-control-prev { border: 0; }
footer{
  display: block;
  top:265%;
  position: absolute;
  /*border:1px solid black;*/
  width: 100%;
  right:0;
  font-family: calibri !important;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(to right, #FBDBA8 , #EA8953) !important;

}
@media (max-width: 768px) {
  .carousel-item .card{
    height: 400px;
  }

  .image-bg {
    /*border:1px solid #414141;*/
    z-index: -1;
    position: absolute;
    display: block;
    width: 120%;
    height:120%;
    right:0;
    left: -20%;
    top: -20%;
    background: url(assets/bg-mobile.svg) ;
    background-size: 130% 130%;
  }
  .hire a{
    margin-top: 150px;
    color: white;
    border-color: white;
    width: 100px;
    font-size: 20px;
  background-image: linear-gradient(to right, #FBDBA8 , #EA8953) !important;

  }
  .img-mobile-char{
    /*border:1px solid black;*/

     position: absolute;
    display: block;
    width: 46%;
    height:70%;
    right:3%;
    top:30%;
    background: url(assets/bg-mobile-char.svg);
    background-size: 100% 100%;
  }
  .name{
    margin-top: 40px;
    top: 0;
    position: relative !important;
    font-size: 50px;
  }
  .work{
    padding-top: 40px;
    font-size: 20px;
  }
  .contact-me ol li{
    border:1px solid black;
    font-size: 12px;
    padding-top: 9px;
    height: 45px;
    width: 45px;
    border-radius: 100px;  
  }
 
  .navbar button{
    margin-top: 10px;
    font-size: 20px;
    color:  #EA8953 !important;
  }
  .navbar {
    z-index: 10;
    top: 0;
    right: 0;
    position: fixed;
    
  }
  .collapse{
  }
  nav ul{
    display: none;
  }
  .content-skills .text-center b{
    display: none;
  }
  .content-skills .title{
    display: block;
    font-weight: bold;
  }
  
  .content-skills{

  padding-bottom: 3%;
  font-family: sans-bold;
  font-size: 15px;
  z-index: -1;
  padding-left : 7%;
  position: absolute;
  display: block;
  width: 100%;
  height:100%;
  right:0;
  top:75%;
  background: url(assets/bg-mobile-skill.svg);
  background-size: 100% 120%;
  }
  .progress {
    display: -ms-flexbox;
    display: flex;
    height: 10px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
  }
  #project{
    top: 175%;
  }
}